body {
    font-family: 'Nerko One', cursive;
     /* this part is taken from a post by user name m.spyratos to make the footer stick to the bottom: 
    https://stackoverflow.com/questions/643879/css-to-make-html-page-footer-stay-at-bottom-of-the-page-with-a-minimum-height-b  
    */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.italic {
    font-style: italic;
}

.no-pad {
    padding: 0;
}

.base-modal {
    display: none;
    border: solid 1px #000000;
    position: absolute;
    box-shadow: 1px 1px 1px #808080;
    z-index: 100;
    background-color: #F4FAEF;
    text-align: center;
    width: 98%;
    border-radius: 10px;
}

.modal-h5 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.close-btn-wrap {
    margin-bottom: 20px;
}

button:focus {
   outline: none;
}

/*index.html*/
.window-parent {
    width: 100%;
    height: 100%;
    background-image: url("../images/background/snowonground.jpg");
    opacity: 0.8;
    background-size: cover;
    position: absolute;
    background-repeat: no-repeat;
    /* this part was taken from the w3schools on how to verticaly align items usin flexbox https://www.w3schools.com/css/css_align.asp*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-window {
    width: 90%;
    background-color: #FAF3D1;
    border-radius: 10px;
    margin: auto;
    box-shadow: 1px 1px 1px #000000;
    position: relative;
}

.nav-window-h1 {
    margin-top: 20px;
    text-align: center;
}

.window-item {
    margin-bottom: 15px;
    letter-spacing: 1.3px;
}

.hs-col {
    margin-bottom: 10px;
    margin-top: 10px;
}

.actions {
    margin-top: 40px;
}

.close-btn {
    border: solid 1px #000000;
    box-shadow: 1px 1px 1px #000000;
    background-color: #F8C9C9;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.main-menu-btn {
    border: none;
    border-radius: 5px;
    background-color: #ECF9E6;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 6px;
    padding-bottom: 6px;
    box-shadow: 0.5px 0.5px 0.5px #808080;;
    display: inline;
    color: #000000;
}


.main-menu-btn:hover {
    color: black;
    background-color: #545b62;
    text-decoration: none;
}

.on-btn, .off-btn {
    border: solid 1px #808080;
    border-radius: 5px;
    width: 20px;
    vertical-align: middle;
    margin-left: 20px;
    box-shadow: 0.5px 0.5px 0.5px #808080;
}

.on-btn {
    background-color: #71E2AD;
}

.off-btn {
    background-color: #F8C9C9;
}

.circle-on, .circle-off {
    border-radius: 50%;
    background-color: #000000;
    width: 15px;
    height: 15px;
    display: block;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.circle-on {
    float: right;
}

.circle-off {
    float: left;
}

.list-hs {
    border: solid #000000 1px;
    padding: 2px;
}

.list-hs-parent {
    margin-top: 10px;
}

.ht-modal p {
    margin-left: 10px;
    margin-right: 10px;
}

#sound-btn {
    width: 40px;
    padding-top: 0px;
    padding-bottom: 0px;
}

#sound {
    padding-left: 6px;
}

#how-to {
margin-bottom: 20px;    
}

/*gamepage.html*/

.game-section {
    /* this part is also taken from the same post as the mentioned in the body*/
    flex: 1;
    /* this part was taken from the w3schools on how to verticaly align items usin flexbox https://www.w3schools.com/css/css_align.asp*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.restart-btn {
    border: none;
    background-color:#ECF9E6; 
}

.card-parent {
    margin-top: 40px;
    margin-bottom: 40px;
}

.menu {
    display: inline-block;
    border: solid 1px #000000;
    border-radius: 0px 5px 5px 0px;
    background-color: #ECF9E6;
    box-shadow: 1px 1px 1px #000000;
}

.menu-itm {
    margin-left: 10px;
    margin-right: 10px;
    color: #000000;
}

.menu-itm:hover {
    color: #000000;
    text-decoration: underline;
}

#timer {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 40%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #000000;
}

#sad-smiley, #smiley {
    background-size: contain;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    margin-top: 60px;
    margin-bottom: 60px;
}

#smiley {
   background-image: url("../images/icons/smile.png"); 
}

#sad-smiley {
   background-image: url("../images/icons/sad.png"); 
}

.green-timer {
    background-color: #0EE773;
}

.yellow-timer {
    background-color: #FBFB08;
}

.red-timer {
    background-color: #F13619;
}



.nav-btn-home:hover, .nav-btn-newgame:hover {
    text-decoration: underline;
    color: #000000;
}

.nav-btn-home, .nav-btn-newgame {
    background-color: #F4FAEF;
    border: none;
    color: #000000;
    margin-bottom: 20px;
    margin-top: 20px;
}

.nav-btn-home {
    margin-left: 20px;
    float: left;
}

.nav-btn-newgame {
    margin-right: 20px;
    float: right;
}

.input-field {
    width: 80%;
    border-radius: 5px;
    border: solid 0.5px #808080;
    box-shadow: 1px 1px 1px #808080;
}

.submit-btn {
    margin-top: 5px;
    border-radius: 5px;
    background-color: #D0DFF5;
}

.cus-h5 {
    margin-top: 20px;
}

.form-parent {
    margin-top: 20px;
}

/*footer*/

.cus-footer {
    background-color: #E5EFEE;
    text-align: center;
}

.cus-footer p {
    font-size: 50%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.cus-footer a {
    color: #000000;
}

/*card classes*/
.bell, .bell-copy, .snowglobe, .snowglobe-copy, .toy, .toy-copy, .pinetree, .pinetree-copy, .pinetreesnow, .pinetreesnow-copy, .present, .present-copy, .christmaspresent, .christmaspresent-copy, .giftbox, .giftbox-copy {
    background-size: contain;
}

.bell {
    background-image: url("../images/icons/bell.png"); 
}

.bell-copy {
    background-image: url("../images/icons/bell.png");
}

.snowglobe {
    background-image: url("../images/icons/snowglobe.png");
}

.snowglobe-copy {
    background-image: url("../images/icons/snowglobe.png");
}

.toy {
    background-image: url("../images/icons/toy.png");
}

.toy-copy {
    background-image: url("../images/icons/toy.png");
}

.pinetree {
    background-image: url("../images/icons/pinetree.png");
}

.pinetree-copy {
    background-image: url("../images/icons/pinetree.png");
}

.pinetreesnow {
    background-image: url("../images/icons/pinetree-snow.png");
}

.pinetreesnow-copy {
    background-image: url("../images/icons/pinetree-snow.png");
}

.present {
    background-image: url("../images/icons/present.png");
}

.present-copy {
    background-image: url("../images/icons/present.png");
}

.christmaspresent {
    background-image: url("../images/icons/christmaspresent.png");
}

.christmaspresent-copy {
    background-image: url("../images/icons/christmaspresent.png");
}

.giftbox {
    background-image: url("../images/icons/giftbox.png");
}

.giftbox-copy {
    background-image: url("../images/icons/giftbox.png");
}

.card, .card-copy, .card-flipped {
    height: 100px;
    width: 60px;
    margin: 0 auto;
    margin-top: 15px;
    box-shadow: 1px 1px 1px #808080;
    border-radius: 8px;
    border: solid 2px #000000;

}

.card-flipped {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.card, .card-copy {
    background-color: #E5EFEE;
    background-size: 40px 40px;
}

.card {
    background-image: url("../images/icons/calendar.png");
}

.card-copy {
    background-image: url("../images/icons/calendar.png");
}

/*media queries*/

@media only screen and (max-height: 540px) {
    .card, .card-copy, .card-flipped {
    height: 80px;
    width: 48px;
    }

    .card, .card-copy {
    background-size: 35px 35px;
}
}

@media only screen and (min-width: 600.5px) and (min-height: 650px) {
    .card, .card-copy, .card-flipped {
    height: 120px;
    width: 80px;
    }
}

@media only screen and (max-width: 400px) and (max-height: 500px) {
    .lb-modal {
        top: 0;
    }
}

@media only screen and (min-width: 600.5px) {
    .nav-window {
    width: 70%;
    }
}

@media only screen and (min-width: 600.5px) and (min-height: 600.5px) {
    .base-modal {
    width: 70%;
    left: 15%;
    right: 15%;
    }
}

@media only screen and (min-width: 767.5px) {
    .nav-window {
    width: 50%;
    }
}

@media only screen and (min-width: 767.5px) and (min-height: 767.5px) {
    .base-modal {
    width: 40%;
    left: 30%;
    right: 30%;
    }
}

@media only screen and (min-width: 1500px) {
    .nav-window {
    width: 30%;
    }
}

@media only screen and (max-width: 398.5px) {
    .ht-modal {
        top: 0;
    }
}

@media only screen and (max-height: 800px) {
    .game-finished-modal {
        top: 0;
    }
}
