body {
    font-family: 'Nerko One', cursive;
}
.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.italic {
    font-style: italic;
}

.no-pad {
    padding: 0;
}

.base-modal {
    display: none;
    border: solid 1px black;
    position: absolute;
    border-radius: 10px;
    box-shadow: 1px 1px 1px grey;
    z-index: 100;
    background-color: #F4FAEF;
    text-align: center;
    width: 40%;
    left: 30%;
    right: 30%;
    top: 5%;
    bottom: 5%;
}

.modal-h5 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.close-btn-wrap {
    position: absolute;
    bottom: 20px;
}

button:focus {
   outline: none;
}

/*index.html*/
.window-parent {
    width: 100%;
    height: 100%;
    background-image: url("../images/background/snowonground.jpg");
    opacity: 0.6;
    background-size: auto;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-window {
    width: 50%;
    height: 70%;
    background-color: #FAF3D1;
    border-radius: 10px;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 1px 1px 1px black;
    position: relative;
}

.window-item {
    margin-bottom: 15px;
    letter-spacing: 1.3px;
}

.hs-col {
    margin-bottom: 10px;
    margin-top: 10px;
}

.actions {
    margin-top: 40px;
}

.close-btn {
    border: solid 1px black;
    box-shadow: 1px 1px 1px black;
    background-color: #F8C9C9;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.main-menu-btn {
    border: none;
    border-radius: 5px;
    background-color: #ECF9E6;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 6px;
    padding-bottom: 6px;
    box-shadow: 0.5px 0.5px 0.5px grey;
    display: inline;
    color: black;
}


.main-menu-btn:hover {
    color: black;
    background-color: #545b62;
    text-decoration: none;
}

.on-btn, .off-btn {
   border: solid 1px grey;
    border-radius: 5px;
    width: 20px;
    vertical-align: middle;
    margin-left: 20px;
    box-shadow: 0.5px 0.5px 0.5px grey;
}

.on-btn {
    background-color: #71E2AD;
}

.off-btn {
    background-color: #F8C9C9;
}

.circle-on, .circle-off {
    border-radius: 50%;
    background-color: black;
    width: 15px;
    height: 15px;
    display: block;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.circle-on {
    float: right;
}

.circle-off {
    float: left;
}

.list-hs {
    border: solid black 1px;
    padding: 2px;
}

.list-hs-parent {
    margin-top: 10px;
}

#sound-btn {
    width: 40px;
    padding-top: 0px;
    padding-bottom: 0px;
}

#sound {
    padding-left: 6px;
}

/*gamepage.html*/

.restart-btn {
    border: none;
    background-color:#ECF9E6; 
}

.card-parent {
    margin-top: 40px;
    margin-bottom: 40px;
}

.menu {
    display: inline-block;
    border: solid 1px black;
    border-radius: 0px 5px 5px 0px;
    background-color: #ECF9E6;
    box-shadow: 1px 1px 1px black;
}

.menu-itm {
    margin-left: 10px;
    margin-right: 10px;
    color: black;
}

.menu-itm:hover {
    color: black;
    text-decoration: underline;
}

#timer {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 40%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 1px 1px 1px black;
}

#sad-smiley, #smiley {
    margin: 0 auto;
    margin-top: 20px;
    width: 30%;
    height: 30%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#smiley {
   background-image: url("../images/icons/smile.png"); 
}

#sad-smiley {
   background-image: url("../images/icons/sad.png"); 
}

.green-timer {
    background-color: #0EE773;
}

.yellow-timer {
    background-color: #FBFB08;
}

.red-timer {
    background-color: #F13619;
}



.nav-btn-home:hover, .nav-btn-newgame:hover {
    text-decoration: underline;
    color: black;
}

.nav-btn-home, .nav-btn-newgame {
    position: absolute;
    background-color: #F4FAEF;
    border: none;
    bottom: 20px;
    color: black;
}

.nav-btn-home {
    left: 10px;
}


.nav-btn-newgame {
    right: 10px; 
}

.input-field {
    width: 80%;
    border-radius: 5px;
    border: solid 0.5px grey;
    box-shadow: 1px 1px 1px grey;
}

.submit-btn {
    margin-top: 5px;
    border-radius: 5px;
    background-color: #D0DFF5;
}

.cus-h5 {
    margin-top: 20px;
}

.form-parent {
    margin-top: 20px;
}

/*card classes*/
.bell {
    background-image: url("../images/icons/bell.png");
    background-size: contain;
}

.bell-copy {
    background-image: url("../images/icons/bell.png");
    background-size: contain;
}

.snowglobe {
    background-image: url("../images/icons/snowglobe.png");
    background-size: contain;
}

.snowglobe-copy {
    background-image: url("../images/icons/snowglobe.png");
    background-size: contain;
}

.toy {
    background-image: url("../images/icons/toy.png");
    background-size: contain;
}

.toy-copy {
    background-image: url("../images/icons/toy.png");
    background-size: contain;
}

.pinetree {
    background-image: url("../images/icons/pinetree.png");
    background-size: contain;
}

.pinetree-copy {
    background-image: url("../images/icons/pinetree.png");
    background-size: contain;
}

.pinetreesnow {
    background-image: url("../images/icons/pinetree-snow.png");
    background-size: contain;
}

.pinetreesnow-copy {
    background-image: url("../images/icons/pinetree-snow.png");
    background-size: contain;
}

.present {
    background-image: url("../images/icons/present.png");
    background-size: contain;
}

.present-copy {
    background-image: url("../images/icons/present.png");
    background-size: contain;
}

.christmaspresent {
    background-image: url("../images/icons/christmaspresent.png");
    background-size: contain;
}

.christmaspresent-copy {
    background-image: url("../images/icons/christmaspresent.png");
    background-size: contain;
}

.giftbox {
    background-image: url("../images/icons/giftbox.png");
    background-size: contain;
}

.giftbox-copy {
    background-image: url("../images/icons/giftbox.png");
    background-size: contain;
}

.card-flipped {
    height: 120px;
    width: 80px;
    margin: 0 auto;
    margin-top: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    box-shadow: 1px 1px 1px grey;
    border-radius: 8px;
    border: solid 2px black;
    background-position: center;
}

.card, .card-copy {
    height: 120px;
    width: 80px;
    box-shadow: 1px 1px 1px grey;
    border-radius: 8px;
    border: solid 2px black;
    background-color: #E5EFEE;
    margin-bottom: 15px;
    margin: 0 auto;
    margin-top: 20px;
    background-size: 40px 40px;
}

.card {
    background-image: url("../images/icons/calendar.png");
}

.card-copy {
    background-image: url("../images/icons/calendar.png");
}

/*media queries*/

@media only screen and (max-width: 600px) {
    .card, .card-copy, .card-flipped {
        height: 100px;
        width: 60px;
    }
}

@media only screen and (max-width: 600px) {
    .nav-window {
    width: 90%;
    height: 90%;
    }

    .base-modal {
    height: 90%;
    width: 90%;
    left: 5%;
    right: 5%;
    }
}
